body{
    padding: 0%;
    margin: 0%;
    background-image: url(./img/lissete-laverde-_qp5lbyVQtE-unsplash.jpg);
    background-size: cover;
}
.login{
    background: white;
    width: 550px;
    height: 100%;
    position: absolute;
    right: 0%;
}
.pp{
    color: violet;
}