body{
    margin: 0%;
    background-image: url(./img/lissete-laverde-_qp5lbyVQtE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login{
    background: #ABD5D9;
    width: 550px;
    height: 100%;
    position: absolute;
    right: 0%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.t{
    font-family: "Corbel Light";
    font-size: 4em;
}
.txt{
    font-family: "Corbel Light";
    font-size: 2em;
}
.form_log{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.reg{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.form_log{
    justify-content: space-between;
}
.txt2{
    margin-top: 25px;
}
.txt3{
    border: none;
    border-bottom: 3px solid;
    background: none;
}
.buttons .txt{
    margin:25px;
}
.but{
    border:none;
    background: #1F578F;
    color: white;
    width: 225px;
    height: 45px;
    align-items: center;
    padding: 0%;
    transition: 0.3s;
}
.but:hover{
    background: #107D9E;
}

.form_reg{
    display: none;
}
