@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    margin: 0%;
    background-image: url(./img/lissete-laverde-_qp5lbyVQtE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}
.login{
    background: #F2F2F2;
    width: 550px;
    height: 100%;
    position: absolute;
    right: 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
